.footer {
  background-color: #222;
  color: var(--textLight);
  text-align: center;
  padding: 30px 20px;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;

    p {
      margin-bottom: 10px;
    }

    .disclaimer {
      font-size: 0.8rem;
      color: #999;
    }
  }
}
