.faq-container {
  margin: 80px auto;
  font-family: Arial, sans-serif;

  @media (max-width: 640px) {
    margin: 40px auto;
  }
}

.faq-grid {
  column-count: 2;
  column-gap: 20px;

  @media (max-width: 900px) {
    column-count: 1;
  }
}

.faq-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  break-inside: avoid;

  &.active {
    .faq-answer {
      max-height: 200px; // Arbitrary max-height for animation
      opacity: 1;
    }
    .toggle-icon {
      // background-color: lighten(var(--primary), 10%);
    }
  }
}

.faq-question-bar {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  background: linear-gradient(to bottom, #dbdbdb, var(--primaryBg));
  cursor: pointer;

  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to bottom, #ffffff, var(--primaryBg));
  }

  // The orange crescent/curve on the left
  .accent-curve {
    width: 6px;
    height: 35px;
    background-color: var(--secondary);
    border-radius: 0 50% 50% 0;
    margin-right: 15px;
  }

  .question-text {
    flex: 1;
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--textDark);
    padding-right: 15px;
  }

  .toggle-icon {
    width: 35px;
    height: 35px;
    background-color: var(--primary);
    color: var(--textLight);
    border: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
    transition: background-color 0.3s;
  }
}

// Collapsible Answer Section
.faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-color: #fcfcfc;
  border-top: 1px solid var(--border);

  .answer-content {
    padding: 15px 20px;

    p {
      margin: 0;
      color: #555;
      font-size: 0.9rem;
      line-height: 1.6;
    }
  }
}
